#main-logo
{
	width: 350px;
	margin-top: 50px;
}

.logo-alignment
{
	text-align: center;
}

.row-title
{
	margin-top: 50px;
	text-align: center;
}

.row-description
{
	margin-top: 17px;
	text-align: center;
}

.row-mail
{
	margin-top: 45px;
	text-align: center;
}

.row-mail form
{
	display: inline-block;
}