<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Bonjour <%= @association.name %>,</h1>
    <p>
    Apprenez à coder gratuitement pour améliorer vos compétences !
    Rejoignez la nouvelle ère de formation au numérique avec The Hacking Project, un programme gratuit de 55 jours pour apprendre les bases du développement web en Ruby et créer des projets sans l'aide de personnes. #communauté #Gratuité #CréerSonProto #LibertéAccèsApprentissage !
    Visitez notre site ici: http://bit.ly/2QKIsar 
    </p>
  </body>
</html>
